:root {
    --PRIMARY-PINK: #FFAAB8;
    --SECONDARY-PINK: #FFD8DF;
    --PRIMARY-YELLOW: #FFD150;
    --PRIMARY-ORANGE: #FF9760;
    --PRIMARY-LIME: #A8DF8E;
    --SECONDARY-LIME: #F0FFDF;
    --RED: #ff6868;
    --DARKPINK: #ff7070;
    --PINK: #ff9b9b;
    --LIGHTPINK: #ffc8c8;
    --WHITEPINK: #fce7e7;
    --ORANGE: #ffa835;
    --DARKYELLOW: #ffd972;
    --YELLOW: #fffec4;
    --LIGHTYELLOW: #fcfbec;
    --DARKGREEN: #108463;
    --GREEN: #33b87a;
    --LIGHTGREEN: #cbffa9;
    --WHITEGREEN: #e6fed6;
    --SKYBLUE: #b4e4ff;
    --BLUE: #3d99ed;
    --GRAY: #989898;
    --BLACK: #000000;
    --WHITE: #ffffff;
    
    /* 텍스트 색상 */
    --TEXT-PRIMARY: #181818;
    --TEXT-SECONDARY: #767676;

    /* border 색상 */
    --BORDER: #bdbdbd;
    --BORDER-LIGHT: #d9d9d9;

    /* 배경 색상 */
    --BACKGROUND: #ececec;
}