:root {
    --PRIMARY-PINK: #FF6B8A;
    --SECONDARY-PINK: #FFD6DF;
    --PRIMARY-YELLOW: #FFD150;
    --PRIMARY-ORANGE: #FF9760;
    --PRIMARY-LIME: #A8DF8E;
    --SECONDARY-LIME: #F0FFDF;
    --RED: #ff6868;
    --ORANGE: #ffa835;
    --DARKYELLOW: #ffd972;
    --PURPLE: #573c71;
    --YELLOW: #fffec4;
    --LIGHTYELLOW: #fcfbec;
    --DARKGREEN: #108463;
    --GREEN: #33b87a;
    --LIGHTGREEN: #cbffa9;
    --WHITEGREEN: #e6fed6;
    --SKYBLUE: #b4e4ff;
    --BLUE: #3d99ed;
    --GRAY: #989898;
    --BLACK: #000000;
    --WHITE: #ffffff;
    
    /* 텍스트 색상 */
    --TEXT-PRIMARY: #2D2D2D;
    --TEXT-SECONDARY: #767676;
    --TEXT-THIRDARY: #FF8E69;

    /* border 색상 */
    --BORDER: #bdbdbd;
    --BORDER-LIGHT: #d9d9d9;

    /* 배경 색상 */
    --BACKGROUND: #FFF8F5;
}