:root {
    --PRIMARY: #450693;
    --RED: #ff6868;
    --DARKPINK: #ff7070;
    --PINK: #ff9b9b;
    --LIGHTPINK: #ffc8c8;
    --WHITEPINK: #fce7e7;
    --ORANGE: #ffa835;
    --DARKYELLOW: #ffd972;
    --YELLOW: #fffec4;
    --LIGHTYELLOW: #fcfbec;
    --DARKGREEN: #108463;
    --GREEN: #33b87a;
    --LIGHTGREEN: #cbffa9;
    --WHITEGREEN: #e6fed6;
    --SKYBLUE: #b4e4ff;
    --BLUE: #3d99ed;
    --GRAY: #989898;
    --BLACK: #000000;
    --WHITE: #ffffff;
    
    /* 텍스트 색상 */
    --TEXT_PRIMARY: #181818;
    --TEXT_SECONDARY: #767676;

    /* border 색상 */
    --BORDER: #bdbdbd;
    --BORDER_LIGHT: #d9d9d9;

    /* 배경 색상 */
    --BACKGROUND: #f3f3f3;
}