html,
body {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--SECONDARY);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 32px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#page-container {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

#page-title {
  color: var(--TEXT_PRIMARY);
  font-family: 'HDBOLD';
  font-size: 35px;
}

/* 폰트 적용 */
@font-face {
  font-family: 'BMJUA';
  src: url('../assets/fonts/BMJUA.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PTBOLD';
  src: url('../assets/fonts/평택반도체 Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'PT';
  src: url('../assets/fonts/평택반도체 Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'HDBOLD';
  src: url('../assets/fonts/Hakgyoansim Dunggeunmiso TTF B.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'HD';
  src: url('../assets/fonts/Hakgyoansim Dunggeunmiso TTF R.ttf');
  font-display: swap;
}