@import './colors.css';
@import './typography.css';

:root {
  --header-height: 56px;
  --navigation-height: 60px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100%;

  /* 기본 폰트 스타일 적용 */
  font-family: var(--font-sans);
  font-weight: var(--font-regular);
  font-size: var(--font-size-base);
  line-height: 1.5;

  /* 기본 배경 및 텍스트 색상 설정 */
  background-color: var(--BACKGROUND);
  color: var(--TEXT-PRIMARY);
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  display: flex;
  flex: 1;
  min-height: calc(100svh - var(--header-height));
  padding-bottom: var(--navigation-height);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

main>.container {
  min-height: calc(100svh - var(--header-height) - var(--navigation-height));
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.glass {
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.10);
  border-radius: 16px;
  padding: 4px 10px;
}

.highlight {
  color: var(--PRIMARY-PINK);
  font-weight: var(--font-medium);
}

.page-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-bold);
  /* color: var(--TEXT-SECONDARY); */
  padding: 15px 0;
  /* 1차 테두리 (검정) */
  text-shadow:
    -1px -1px 0 var(--WHITE),
     1px -1px 0 var(--WHITE),
    -1px  1px 0 var(--WHITE),
     1px  1px 0 var(--WHITE);
}

.title-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--SECONDARY);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 32px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
