.root {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: var(--WHITE);
}