.root {
    position: sticky;
    top: 0;
    width: 100%;
    height: 56px;
    z-index: 50;
    background-color: var(--PRIMARY-PINK);
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.headerText {
    color: var(--WHITE);
    font-weight: var(--font-medium);
}

.smallText {
    font-size: var(--font-size-sm);
}

.userName {
    margin-right: 4px;
}

.logo {
    height: 35px;
    width: auto;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: var(--WHITE)
}