.root {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    z-index: 50;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--WHITE);
}