.root {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--navigation-height);
    z-index: 50;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--WHITE);
    padding: 0 25px;
}

.icon {
    width: 28px;
    height: auto;
    color: var(--PRIMARY-PINK);
}