.root {
    width: 100%;
    margin: auto;
}

.form {
    width: 100%;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.label {
    font-size: var(--font-size-sm);
    font-weight: var(--font-medium);
    margin-bottom: 4px;
}

.input {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    font-size: var(--font-size-sm);
}

.input:focus {
    border: 2px solid var(--SECONDARY-PINK);
    outline: none;
}